<div class="modal-header">
  <h4 class="modal-title pull-left" id="modal-dialog-title">{{title}}</h4>
  <button type="button" class="close pull-right" id="modal-dialog-close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" id="modal-dialog-message">
  {{message}}
</div>
<div class="modal-footer">
  <button *ngFor="let button of buttons, let i = index" type="button" class="btn btn-default" id="modal-dialog-button-{{i}}" (click)="button.onClick(modalRef)">{{button.label}}</button>
</div>
