<div class="tree-view" *ngIf="model">
  <div class="tree-view-item" (click)="onClick()">
    <span class="icon glyphicon"
          [ngClass]="{ 'glyphicon-question-sign': isUnknown(),
                       'glyphicon-folder-close': isEmptyFolder(),
                       'glyphicon-chevron-down': isFolderExpanded(),
                       'glyphicon-chevron-right': isFolderFolded(),
                       'glyphicon-file': isFile() }"></span>
    &nbsp;{{model.name}}
  </div>
  <div *ngIf="model.expanded">
    <div *ngFor="let child of model.children">
      <nav-tree-viewer [model]="child"></nav-tree-viewer>
    </div>
  </div>
</div>
