#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#navigation-area {
  border-right: 2px solid rgb(187, 187, 187);
}

#main-area {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  resize: vertical;
  overflow: auto;
}

#editor-area {
  width: 100%;
  padding: 15px;
  overflow-x: hidden;
}

#navigation-label {
  background-color: #252525;
  color: rgb(187, 187, 187);
  line-height: 35px;
  padding-left: 17px;
  padding-right: 17px;
  text-transform: uppercase;
  height: 35px;
}

#navigation-content {
  background-color: #252525;
  height: calc(100% - 70px);
}

#testexec-navigator-area {
  display: flex;
  flex-direction: row;
  border-top: 2px solid rgb(187, 187, 187);
  flex: 1 1 auto;
}

#testexec-tree {
  background-color: #252525;
  flex-grow: 1;
}

#testexec-details {
  flex-grow: 2;
}

.navigation-text {
  background-color: #252525;
  color: rgb(187, 187, 187);
  line-height: 35px;
  padding-left: 17px;
  height: 35px;
}

.navigation-text:hover {
  cursor: pointer;
}
