#page {
  display: flex;
  height: 100vh;
}

#editor-area {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  padding: 15px;
  overflow-x: hidden;
}

#navigation-label {
  background-color: #252525;
  color: rgb(187, 187, 187);
  line-height: 35px;
  padding-left: 17px;
  text-transform: uppercase;
  height: 35px;
}

#navigation-content {
  height: calc(100% - 35px);
}
