<div id="page">
  <as-split direction="vertical" gutterSize="15" (dragEnd)="dragAffectingEditorEnd()">
    <as-split-area size="65">
      <as-split direction="horizontal" gutterSize="15" (dragEnd)="dragAffectingEditorEnd()">
        <as-split-area size="20" id="nav-area">
          <div id="nav-headline">
            <div id="nav-icon-area"><img alt="test-editor icon" src="favicon.ico" id="navigation-icon"/></div>
            <div id="navigation-label">Test&#8209;Editor</div>
            <div class="dropdown">
              <button *ngIf="isAuthorized" class="icon fa fa-bars dropbtn"></button>
              <div *ngIf="isAuthorized" class="dropdown-content">
                <a href="#" (click)="logout()">Logout</a>
              </div>
            </div>
          </div>
          <div class="navigation-text login" *ngIf="!isAuthorized" (click)="login()" title="uses google login for authentication">Login</div>
          <div id="navigation-content" *ngIf="isAuthorized && hasToken">
            <ng4-loading-spinner [threshold]="200" [timeout]="300000" [loadingText]="'Loading workspace...'"></ng4-loading-spinner>
            <app-test-navigator></app-test-navigator>
          </div>
        </as-split-area>
        <as-split-area size="80">
          <as-split direction="horizontal" gutterSize="15" (dragEnd)="dragAffectingEditorEnd()">
            <as-split-area *ngIf="isAuthorized && hasToken" size="66">
              <app-editor-tabs></app-editor-tabs>
            </as-split-area>
            <as-split-area id="test-step-selector-area" size="34" *ngIf="isAuthorized && hasToken">
              <app-test-step-selector></app-test-step-selector>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </as-split-area>

    <as-split-area *ngIf="isAuthorized && hasToken" size="35">
      <as-split direction="horizontal" gutterSize="15">
        <as-split-area id="testexec-tree" size="20">
          <app-testexec-navigator></app-testexec-navigator>
        </as-split-area>
        <as-split-area id="testexec-details" size="80">
          <app-test-exec-details></app-test-exec-details>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
  <app-snack-bar></app-snack-bar>
</div>
