div {
  height: 100%;
}

::ng-deep .nav-item.dirty > a > span:first-of-type:after {
  margin-left: 3px;
  content: '*'
}

tab {
  height: 100%;
}

::ng-deep .tab-content {
  height: calc(100% - 35px);
}

#editor-tabs {
  /** For some reason, the tabs cause some "excess height",
    * prompting browsers to show a scroll bar for this container.
    * At the time of testing this, Firefox is off by 14 pixels,
    * whereas Chrome stops showing the scrollbar when at least
    * 7 pixels are subtracted.
    */
  height: calc(100% - 14px);
}

.lds-dual-ring {
  display: inline-block;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 48%;
  top: 49%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 48px;
  height: 48px;
  margin: 1px;
  border-radius: 50%;
  left: 48%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.grayout {
    position: fixed;
    padding: 0px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9998;
    background: #000;
    opacity: 0.6;
    transition: opacity 0.3s linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.visible {
    visibility: visible;
}
