.sidenav {
  flex-grow: 0;
  height: 100%;
  width: 250px;
  z-index: 1;
  background-color: #252525;
  padding-top: 20px;
  resize: horizontal;
  overflow: auto;
}

.sidenav img.button {
	opacity: 0.4;
}

.sidenav img.button:hover {
	opacity: 0.8;
}

.sidenav li .delete {
  display: none;
  margin-right: 5px;
  float: right;
  opacity: .5;
}

.sidenav li .delete:hover {
  opacity: 1.0;
}

/* Show delete button only when hovering over the li element. */
.sidenav li:hover .delete {
  display: block;
}

.sidenav input {
  border: 1px solid #111;
  padding: 5px;
  font-size: 12px;
  width: 80%;
  background: #444;
  color: #fff;
}

.sidenav a {
  color: #818181;
}

.sidenav a:hover {
  color: #CCCCCC;
  text-decoration: none;
}