/* You can add global styles to this file, and also import other style files */

.ace_editor.ace_autocomplete {
  width: 500px !important;
  font-size: 10px !important;
}

.test-success {
  color: #23d800;
}

.test-failure {
  color: #d82300
}

.validation-errors {
  color: #d82300
}

.validation-warnings {
  color: #ffcc00
}

.validation-infos {
  color: #3498DB
}

.tsl-file-color { color: lightgreen }
.tcl-file-color { color: lightblue }
.aml-file-color { color: lightcoral }

.embedded-delete-button { color: #a80f22 }
.embedded-delete-button:hover { color: #d82300; }

.user-activity {
  animation: user-activity-pulse 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
  color: whitesmoke;
}

@keyframes user-activity-pulse {
  0% {color: whitesmoke; opacity: 0.75;}
  50% {color: white; opacity: 1; }
  100% {color: whitesmoke; opacity: 0.75;}
}
